In [4]:
import pandas as pd
import json
import os
import pprint as pprint
import csv

In [20]:
os.chdir(r"C:\Users\Kevin Thelly\Downloads\ML")
os.listdir()

['.ipynb_checkpoints',
 '01 - Basic data types.ipynb',
 '01 - numPy Basics.ipynb',
 '02 - pandas Basics.ipynb',
 '2016',
 '2017',
 'Flight code.ipynb',
 'flight16.csv',
 'flight17.csv',
 'Json Unwrapper.ipynb',
 'merge_weather.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'WAIML2018_Expt5_linearRegression-checkpoint.ipynb',
 'Weather',
 'weather.csv',
 'weather16.csv',
 'weather17.csv']

In [5]:
#df=pd.read_csv(open('./2016/On_Time_On_Time_Performance_2016_1/On_Time_On_Time_Performance_2016_1.csv'),low_memory=False)
#flightdf=open('flightdata.csv') 
fields=['FlightDate','Quarter','Year','Month','DayofMonth','DepTime','DepDel15','CRSDepTime','DepDelayMinutes','OriginAirportID','DestAirportID','ArrTime','CRSArrTime','ArrDel15','ArrDelayMinutes']

In [6]:
flight2016=[]
for i in os.listdir():
    if('2016' in i):
        for j in os.listdir('./'+i):
            for k in os.listdir('./' +i+'/'+j):
                if('readme' not in k):
                    df=pd.read_csv(open('./'+i+'./' +j+'/'+k))
                    temp=pd.DataFrame(df,columns=['FlightDate','Quarter','Year','Month','DayofMonth','DepTime','DepDel15','CRSDepTime','DepDelayMinutes','OriginAirportID','DestAirportID','ArrTime','CRSArrTime','ArrDel15','ArrDelayMinutes','Origin','Dest'])
                    flight2016.append(temp.loc[df['Origin'].isin(['ATL','CLT','DEN','DFW','EWR','IAH','JFK','LAS','LAX','MCO','MIA','ORD','PHX','SEA','SFO']) & df['Dest'].isin(['ATL','CLT','DEN','DFW','EWR','IAH','JFK','LAS','LAX','MCO','MIA','ORD','PHX','SEA','SFO'])])
                    print(k)

c:\users\kevin thelly\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On_Time_On_Time_Performance_2016_1.csv

c:\users\kevin thelly\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On_Time_On_Time_Performance_2016_10.csv

c:\users\kevin thelly\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (48,69,76,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On_Time_On_Time_Performance_2016_11.csv
On_Time_On_Time_Performance_2016_12.csv

c:\users\kevin thelly\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On_Time_On_Time_Performance_2016_2.csv
On_Time_On_Time_Performance_2016_3.csv
On_Time_On_Time_Performance_2016_4.csv

c:\users\kevin thelly\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (48,77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

On_Time_On_Time_Performance_2016_5.csv
On_Time_On_Time_Performance_2016_6.csv
On_Time_On_Time_Performance_2016_7.csv
On_Time_On_Time_Performance_2016_8.csv
On_Time_On_Time_Performance_2016_9.csv

In [7]:
flight2016df=pd.concat(flight2016,axis=0,)

In [8]:
flight2016df.to_csv('flight16.csv')

In [9]:
flight2016df.shape

(948819, 17)

In [21]:
flight2017=[]
for i in os.listdir():
    if('2017' in i):
        for j in os.listdir('./'+i):
            for k in os.listdir('./' +i+'/'+j):
                if('readme' not in k):
                    df=pd.read_csv(open('./'+i+'/' +j+'/'+k))
                    temp=pd.DataFrame(df,columns=['FlightDate','Quarter','Year','Month','DayofMonth','DepTime','DepDel15','CRSDepTime','DepDelayMinutes','OriginAirportID','DestAirportID','ArrTime','CRSArrTime','ArrDel15','ArrDelayMinutes','Origin','Dest'])
                    flight2017.append(temp.loc[df['Origin'].isin(['ATL','CLT','DEN','DFW','EWR','IAH','JFK','LAS','LAX','MCO','MIA','ORD','PHX','SEA','SFO']) & df['Dest'].isin(['ATL','CLT','DEN','DFW','EWR','IAH','JFK','LAS','LAX','MCO','MIA','ORD','PHX','SEA','SFO'])])
                    print(k)

On_Time_On_Time_Performance_2017_1.csv
On_Time_On_Time_Performance_2017_10.csv
On_Time_On_Time_Performance_2017_11.csv
On_Time_On_Time_Performance_2017_12.csv
On_Time_On_Time_Performance_2017_2.csv
On_Time_On_Time_Performance_2017_3.csv
On_Time_On_Time_Performance_2017_4.csv
On_Time_On_Time_Performance_2017_5.csv
On_Time_On_Time_Performance_2017_6.csv
On_Time_On_Time_Performance_2017_7.csv
On_Time_On_Time_Performance_2017_8.csv
On_Time_On_Time_Performance_2017_9.csv

In [22]:
flight2017df=pd.concat(flight2017,axis=0)

In [23]:
flight2017df.to_csv('flight17.csv')

In [24]:
flight2017df.shape

(928477, 17)

In [68]:
flight12=[]
#os.listdir('./2016/On_Time_On_Time_Performance_2016_1')
dp=pd.read_csv(open(r'./2016/On_Time_On_Time_Performance_2016_1/On_Time_On_Time_Performance_2016_1.csv'))
flight123=pd.DataFrame(dp,columns=['Origin','Quarter'])

flight123

       Origin  Quarter
0         DFW        1
1         DFW        1
2         DFW        1
3         DFW        1
4         DFW        1
5         DFW        1
6         DFW        1
7         DFW        1
8         DFW        1
9         DFW        1
10        DFW        1
11        DFW        1
12        DFW        1
13        DFW        1
14        DFW        1
15        DFW        1
16        DFW        1
17        DFW        1
18        DFW        1
19        DFW        1
20        DFW        1
21        DFW        1
22        DFW        1
23        DFW        1
24        DFW        1
25        DFW        1
26        DTW        1
27        DTW        1
28        DTW        1
29        DTW        1
...       ...      ...
445797    ATL        1
445798    CLE        1
445799    TPA        1
445800    CLE        1
445801    ATL        1
445802    MIA        1
445803    ORD        1
445804    MCO        1
445805    ORD        1
445806    RSW        1
445807    STL        1
445808    RSW        1
445809    CLE        1
445810    ATL        1
445811    ATL        1
445812    LGA        1
445813    STL        1
445814    PHX        1
445815    DEN        1
445816    ORD        1
445817    MCO        1
445818    MCO        1
445819    DEN        1
445820    SAN        1
445821    SLC        1
445822    DEN        1
445823    DEN        1
445824    DEN        1
445825    FSD        1
445826    CID        1

[445827 rows x 2 columns]

In [62]:
flight2016df.drop_duplicates().shape

(948810, 17)

In [22]:
tempdata=flightdata.loc[df['Origin'].isin(['ATL','CLT']) | df['Dest'].isin(['ATL','CLT'])]

In [23]:
tempdata[['Origin','Dest']]

       Origin Dest
29        BOS  ATL
38        CLT  JFK
39        JFK  CLT
100       BOS  CLT
101       CLT  BOS
161       BOS  CLT
162       CLT  BOS
450       CLT  JFK
451       JFK  CLT
524       ATL  BOS
525       BOS  ATL
531       ATL  BOS
668       ATL  BOS
669       BOS  ATL
706       ATL  BOS
707       BOS  ATL
780       ATL  BOS
781       BOS  ATL
817       BOS  ATL
882       BOS  CLT
883       CLT  BOS
943       BOS  CLT
944       CLT  BOS
1219      CLT  JFK
1220      JFK  CLT
1290      ATL  BOS
1291      BOS  ATL
1297      ATL  BOS
1435      ATL  BOS
1436      BOS  ATL
...       ...  ...
457218    CLT  BOS
457543    CLT  JFK
457544    JFK  CLT
457616    ATL  BOS
457617    BOS  ATL
457623    ATL  BOS
457772    ATL  BOS
457773    BOS  ATL
457811    ATL  BOS
457812    BOS  ATL
457892    ATL  BOS
457893    BOS  ATL
457932    BOS  ATL
457941    CLT  JFK
457942    JFK  CLT
458003    BOS  CLT
458004    CLT  BOS
458062    BOS  CLT
458063    CLT  BOS
458364    CLT  JFK
458365    JFK  CLT
458438    ATL  BOS
458439    BOS  ATL
458445    ATL  BOS
458596    ATL  BOS
458597    BOS  ATL
458636    ATL  BOS
458637    BOS  ATL
458715    ATL  BOS
458716    BOS  ATL

[75179 rows x 2 columns]

In [ ]:
# fields=['FlightDate','Quarter','Year','Month','DayofMonth','DepTime','DepDel15','CRSDepTime','DepDelayMinutes','OriginAirportID','DestAirportID','ArrTime','CRSArrTime','ArrDel15','ArrDelayMinutes']

# with open('flightdata.csv','a') as flightdf:
#     csvwriter=csv.writer(flightdf)
#     csvwriter.writerow(fields)
#     csvwriter.writerows(df[fields].values)

In [89]:

# with open('flightdata.csv','a') as flightdf:
#     csvwriter=csv.writer(flightdf)
#     csvwriter.writerow(fields)
#     for i in os.listdir():
#         if('2016' in i):
#             for j in os.listdir('./'+i):
#                 for k in os.listdir('./' +i+'/'+j):
#                     if('readme' not in k):
#                         df=pd.read_csv(open('./'+i+'./' +j+'/'+k))
#                         csvwriter.writerows(df[fields].values)
#                         print(k)

array([['2017-05-15', 2],
       ['2017-05-15', 2],
       ['2017-05-15', 2],
       ...,
       ['2017-05-06', 2],
       ['2017-05-06', 2],
       ['2017-05-06', 2]], dtype=object)